@import "tailwindcss";

@font-face {
  font-family: "Metropolis";
  src: url('./assets/fonts/Metropolis-Regular.otf');
  font-weight: 600;
}

@font-face {
  font-family: "Metropolis";
  src: url('./assets/fonts/Metropolis-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: "Metropolis";
  src: url('./assets/fonts/Metropolis-ExtraBold.otf');
  font-weight: 800;
}

@font-face {
  font-family: "Metropolis";
  src: url('./assets/fonts/Metropolis-Black.otf');
  font-weight: 900;
}

@theme{
  --font-display: "Metropolis";
  --color-yellow: #ffc20c;
}